{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<!-- <link rel="stylesheet" href="{{url_for('static',filename='image/2.jpg')}}" type="text/css">  -->
{% endblock %}  

{% block content %}
<body style="background-color:black">
<div class="container text-center">
    <div class="text-content">
        <h1 style="color: purple;"><span style="color:#b23ec2;">When pitching your design idea</span> you should always talk about <span style="color:rgb(202, 31, 202);">the why</span> behind the solution.</h1>
        <br>
        
        <a href="{{url_for('auth.register')}}" style="color: thistle;">  <button type="button" style="width: 110px; height:40px; font-size:20px; color:purple; background-color: rgb(202, 31, 202); margin-right: 20px; border-radius: 10px; font-weight: bolder; font-family: Arial, Helvetica, sans-serif;"  >Sign up</button></a>
        <a href="{{url_for('auth.login')}}" style="color: thistle;">  <button type="button" style="width: 110px; height:40px; font-size:20px; color: purple; background-color: rgb(202, 31, 202); border-radius: 10px; font-weight: bolder; font-family: Arial, Helvetica, sans-serif;"  > Sign in</button></a>
        
    </div>

    
</div>
</body>


{% endblock %}
