{% extends 'base.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    {% block styles %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}" type="text/css">

    {% endblock %}
</head>
            <!-- Navbar block  --> 
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}  

        {% block content %}
        <body style="background-color:black">
        <div class="container text-center">
            <img src="{{ url_for('static', filename='') }}" alt="">
            <div class="text-content">
                <h1 style="color: black;"><span style="color:#b23ec2;">In life you only have 60 seconds to impress someone</span> <span>one minute can make you or break you</span> <span style="color:rgb(202, 31, 202);">Pitch</span>Something.</h1>
                
                <h2 style="color: rgb(202,77,31);">Wairimu</h2>
                <br>
            
              
            </div>
            
        </div>
        </body>
   

    {% endblock %}
</body>
</html>